# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# Mac system files
.DS_Store

# Secrets
.env
.streamlit/secrets.toml
streamlit_app/.streamlit/secrets.toml

# Raw or temporary data
data/raw/
*.zip

# Logs
*.log